---
import { clsx } from "clsx/lite";

type Props = {
  variant?: "primary";
  size?: "lg";
};

const { size = "lg", variant = "primary" } = Astro.props;
const classes = clsx(
  "disabled:bg-disabled disabled:text-disabled flex items-center justify-center rounded shadow-base focus:outline-none focus:ring-4",
  variant === "primary" &&
    "bg-brand-primary text-primary-invert hover:bg-brand-primary-emphasize focus:ring-brand",
  size === "lg" && "px-4 py-3",
);
---

<button class={classes}>
  <slot />
</button>
